<h1>Restaurants List</h1>

<ul>
  <% @restaurants.each do |restaurant|  %>
  <li><%= restaurant.name %> - <%= link_to "See details", restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<%= link_to "Create Restaurant", new_restaurant_path, class: "btn btn-primary", id: "createRestaurantButton" %>

